@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-size: var(--defaultFontSize);
}

body {
  color: var(--textColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  margin: 0;
  padding: 0;
  --nav-load-time: 300ms;
  min-height: calc(100vh - 40px);
  position: relative;
}

/* ------------------------- Colors ------------------------- */
:root {
  --primary: #64b4f6;
  --primary-lm: #aadcec;
  --primary-variant-lm: #0f1b61;
  --primary-variant: #1c75d2;
  --secondary-lm: #ba60ff;
  --secondary: #00bab8;
  --secondary-variant: #008072;
  --background: #404040;
  --background-secondary: #282828;
  --background-dm: #181818;
  --background-secondary-dm: #121212;
  --background-lm: #FFFFFF;
  --background-variant-lm: #f4f9fc;
  --background-secondary-lm: #eeeeee;
  --background-scroll-lm: #777777;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-primary-modal: #7e7e7e;
  --on-toggle-lm: #ba60ff;
  --on-toggle-dm: #ffdaa5;
  --on-error: #FFFFFF;
  --error-dm: #CF6679;
  --error-lm: #B00020;
  --grey-50: #f2f4f8;
  --grey-100:  #c9cacf;
  --grey-150: #a6a6a6;
  --grey-200: #a1a3aa;
  --grey-250: #6d6f78;
  --grey-1000: #333538;
  --grey-dark: #262626;
  --black: #222;
  --white: #fff;
  --red: #CF291D;
  --blue: #1D6ACF;
  /* typography */
  --defaultFontSize: 87.5%;
  --headingFont: 'Inconsolata', monospace;
  --bodyFont: 'Montserrat', sans-serif;
  --smallText: 0.8em;
  --extraSmallText: 0.7em;
  /* rest */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-1000);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#root {
  margin: 0;
  padding: 0;
  display: flex;
}

#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.sections {
  max-width: 1200px;
}

/* ---Scrollbar Styles--- */
::-webkit-scrollbar {
  width: 18px;
}

/* ---Add color change on mouse wheel scroll --- */
::-webkit-scrollbar-track {
  background: var(--background-scroll-lm);
}

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-variant);
}

.carousel-project p,
.carousel-project h2 {
  font-family: 'Courier Prime', monospace;
}

.carousel-project h1 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 18px;
  user-select: none;
}

p,
a,
li {
  text-decoration: none;
  user-select: none;
  font-family: 'Courier Prime', monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: var(--letterSpacing);
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.052rem;
  user-select: none;
}

h2 {
  font-size: 38px;
  color: var(--on-primary);
}

h3 {
  font-size: 38px;
}

small,
.text_small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}

/* ------------------------- Loader ------------------------- */
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.logo {
  display: inherit;
  letter-spacing: .25rem;
  color: var(--primary);
  font-size: 80px;
  border-top: 5.5px solid var(--primary-variant);
  border-right: 1.5px solid var(--primary-variant);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0px 20px;
}

.loader {
  display: inherit;
  flex-direction: row;
}

.loader div {
  display: inherit;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0.5rem;
  animation: scaling 1.25s ease-in-out infinite;
}

@keyframes scaling {
  0%, 100% {
    transform: scale(0.2);
    background-color:  #E3F2FD;
  }
  40% {
    transform: scale(1);
    background-color: #64B5F6;
  }
  50% {
    transform: scale(1);
    background-color: #1E88E5;
  }
}

.loader div:nth-child(0) {
  animation-delay: 0s;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  animation-delay: 0.4s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

.loader div:nth-child(4) {
  animation-delay: 0.8s;
}

.loader div:nth-child(5) {
  animation-delay: 1s;
}

/* ------------------------- Navbar ------------------------- */
.bar__top {
  height: 20px;
  width: 100%;
  background: var(--background-secondary-dm);
  z-index: 20000;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  top: 0;
}

.bar__bottom {
  height: 20px;
  width: 100%;
  background: var(--background-secondary-dm);
  z-index: 20000;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  bottom: 0;
}

.bar__right {
  height: 100%;
  width: 20px;
  background: var(--background-secondary-dm);
  z-index: 20000;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  bottom: 20px;
  top: 20px;
  right: 0;
}

.bar__left {
  height: 100%;
  width: 20px;
  background: var(--background-secondary-dm);
  z-index: 20000;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  bottom: 20px;
  top: 20px;
  left: 0;
}

.nav-title__right {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  top: 100px;
  right: 125px;
  z-index: 10000;
  vertical-align: middle;
  position: fixed;
}

.theme-btn {
  background-color: rgb(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.theme-toggle {
  font-size: 40px;
  color: var(--on-toggle-dm);
}

.background-switch {
  position: fixed;
  display: inline-block;
  width: 55px;
  height: 28px;
  right: 55px;
  top: 107px;
  z-index: 2000;
}

.background-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.background-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-scroll-lm);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.background-slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: var(--on-primary);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .background-slider {
  background-color: var(--secondary);
}

input:focus + .background-slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .background-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.nav-title__left {
  display: flex;
  flex-direction: row;
  top: 100px;
  left: 65px;
  z-index: 10000;
  vertical-align: middle;
  position: fixed;
  width: 50px;
}

.nav-title a {
  font-size: clamp(0.5rem, 5vw, 1.25rem);
  color: var(--on-primary);
  transition: var(--transition);
  text-transform: uppercase;
  padding: 0 0.5rem;
}

.nav-title a:hover {
  color: var(--primary);
}

.nav-title a.isActive {
  color: var(--secondary);
}

.nav-title a.isActive:hover {
  color: var(--secondary-variant);
}

.nav-title a:not(:last-of-type) {
  margin-right: 0.25rem;
}

/* ------------------------- Menu ------------------------- */
.menu__overlay {
  position: fixed;
  background-color: var(--background-secondary);
  z-index: -2;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__overlay a {
  font-size: 50px;
  color: #00bab8;
}

.menu__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  border: none;
  background-color: var(--background-secondary);
  transition: all 2s cubic-bezier(0.16, 1, 0.3, 1);
  font-family: var(--bodyFont);
}

.lineContainer {
  height: 32px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 4px;
}

.lineTop,
.lineMiddle,
.lineBottom {
  height: 2px;
  width: 30px;
  background-color: var(--secondary);
  transition: all 0.5s ease;
}

.lineTop {
  transform: none;
  transform-origin: top left;
  margin-bottom: 8px;
}

.lineMiddle {
  opacity: 1;
  transform: none;
}

.lineBottom {
  transform: none;
  transform-origin: top left;
  margin-top: 8px;
}

.lineTop.spin {
  transform: translateY(-3px) translateX(1px) rotate(50deg);
}

.lineMiddle.slide-out {
  opacity: 0;
  transform: translateX(-20px);
}

.lineBottom.spin {
  transform: translateX(-1px) translateY(0px) rotate(-50deg);
}

/* .home, */
.education,
.projects,
.contact {
  display: flex;
  justify-content: center;
  min-height: 40vh;
  overflow-x: hidden;
}

.about {
  display: flex;
  justify-content: center;
  min-height: 40vh;
  height: 100vh;
  min-width: 100%;
  text-align: center;
  font-size: 18px;
}

.active:hover {
  opacity: 1;
}

/* ------------------------- About ------------------------- */
.about-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--on-primary);
  text-shadow: .5px .5px 2px var(--on-secondary);
}

.about-title__container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: baseline;
}

.about-title__container span {
  color: var(--secondary-lm);
  font-size: 70px;
  text-shadow: none;
}

.about-div h3 {
  font-size: 5rem;
}

.about-context {
  display: flex;
  justify-content: center;
  align-items: top;
  margin: 0;
  padding-top: 75px;
  gap: 30px;
}

.about-text {
  display: flex;
}

.about-text p {
  display: flex;
  text-align: left;
  padding-left: 30px;
  font-size: 18px;
  width: 50%;
  margin: 0;
  flex: 2 1 0;
  border-left: 1px solid var(--primary);
}

.about-image__container {
  display: flex;
  height: auto;
  max-width: 400px;
}

.about-image {
  flex: 1 1 0;
  width: 50%;
  display: flex;
  max-width: 350px;
  min-width: 350px;
  border-radius: 6px;
  animation: right-to-left 1s ease-in-out forwards;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.about-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

/* ------------------------- Education ------------------------- */
.education {
  display: flex;
  justify-content: center;
}

.education__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 75px;
  padding-bottom: 350px;
  text-shadow: .5px .5px 2px var(--on-secondary);
  user-select: none;
}

.education__title-text {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: var(--on-primary);
}

.education__title-text span {
  color: var(--secondary-lm);
  font-size: 50px;
  text-shadow: none;
}

.light-mode .project-title__text span,
.light-mode .education__title-text span,
.light-mode .about-title__container span {
  color: var(--secondary);
}

.light-mode .education__title-text span {
  color: var(--secondary);
}

.education__technologies {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  padding-top: 75px;
  color: var(--on-primary);
  text-shadow: .5px .5px 2px var(--on-secondary);
  border-top: 1px solid var(--primary);
}

.education__technologies .education__title-container {
  width: 60%;
}

.education__title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.education__svg-container {
  width: 50%;
}

.education__title-container .education__svg {
  width: 250px;
}

.education__title-tech {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
  width: 100%;
}

.education__title-certs .education__bar {
  display: inherit;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--secondary);
  width: 100px;
  border-top: solid;
}

.education__languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.education__languages-top,
.education__languages-bottom {
  display: inherit;
  font-size: 18px;
  gap: 25px;
}

.slash {
  position: absolute;
  width: 450px;
  height: 200px;
}

.education__certs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 75px;
  width: 100%;
  color: var(--on-primary);
  text-shadow: .5px .5px 2px var(--on-secondary);
}

.education__title-certs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  max-width: 70%;
}

.education__title-certs p {
  margin-top: 20px;
}

.education__certs .carousel {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.education__certs .carousel-project__description {
  margin-bottom: 5px;
}

.education__certs .carousel-project__btn {
  visibility: hidden;
}

.education__certs .carousel-project__subtitle {
  color: var(--on-primary-modal);
}

.education__certs .carousel-project__title {
  font-size: 25px;
  color: var(--on-primary);
}

.education__certs .carousel-project__description {
  color: var(--on-primary-modal);
}

.education__skills {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 30px;
  width: 100%;
  color: var(--on-primary);
  text-shadow: .5px .5px 2px var(--on-secondary);
  padding-top: 75px;
  border-top: 1px solid var(--primary);
}

.education__svg-container {
  width: 40%;
}

.education__skills .education__svg {
  height: 250px;
  width: 250px;
}

.education__title-skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 30px;
  width: 60%;
}

.education__skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}

.education__skills-list-top,
.education__skills-list-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  font-size: 18px;
}

.svgIcon {
  width: 20px;
  padding-right: 5px;
}

.iconColor {
  filter: invert();
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
}

.cert-img {
  min-width: 370px;
  max-width: 100%;
}

.image-section.right-arrow {
  display: flex;
  position: absolute;
  cursor: pointer;
}

.right-arrow.center-btn {
  position: absolute;
  top: 80%;
  left: 90%;
}

.left-arrow.center-btn {
  position: absolute;
  top: 80%;
  right: 90%;
}

/* ------------------------- Projects ------------------------- */
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  max-width: 900px;
  min-height: 550px;
  overflow: hidden;
  position: relative;
  box-shadow:
  0 -2.5px 2.2px rgba(0, 0, 0, 0.04),
  0 -8.4px 15.8px rgba(0, 0, 0, 0.05),
  0 -12px 40px rgba(76, 126, 190, 0.16),
  0 22.5px 17.5px rgba(0, 0, 0, 0.078),
  0 43px 33px rgba(0, 0, 0, 0.086),
  0 20px 51px rgba(76, 126, 190, 0.13);
}

.light-mode .carousel {
  box-shadow:
  0 -2.5px 2.2px rgba(0, 0, 0, 0.04),
  0 -6.9px 5.3px rgba(0, 0, 0, 0.05),
  0 -8px 40px rgba(0, 0, 0, 0.16),
  0 22.5px 17.5px rgba(0, 0, 0, 0.078),
  0 43px 33px rgba(0, 0, 0, 0.086),
  0 90px 61px rgba(0, 0, 0, 0.13);
}

.carousel-project {
  visibility: visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
  background-color: var(--background-secondary-dm);
  position: absolute;
}

.carousel-project__container {
  margin: 0;
  padding: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  order: 1;
}

.carousel-project__image {
  width: 60%;
  height: 100%;
  order: 2;
  display: flex;
  align-self: flex-end;
  flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.active {
  z-index: 1;
  display: flex;
  visibility: visible;
}

.projects-image.loaded {
  max-width: 540px;
  max-height: 550px;
}

.projects__carousel {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.carousel__nav {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 18px;
  right: 0;
  z-index: 2;
  background-color: var(--background-secondary-dm);
  bottom: 0;
}

.carousel__nav .left-arrow {
  cursor: pointer;
  padding: 11px 15px;
  position: relative;
  color: var(--on-primary);
  border-right: 1px solid var(--background-scroll-lm);
}

.carousel__nav .right-arrow {
  cursor: pointer;
  padding: 11px 15px;
  position: relative;
  color: var(--on-primary);
  border-left: 1px solid var(--background-scroll-lm);
}

.carousel-project__subtitle {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  color: #7E7E7E;
  font-weight: 700;
} 

.carousel-project__title {
  margin: 15px 0 0 0;
  font-family: 'Playfair Display', serif;
  font-size: 44px;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  color: #2C2C2C;
}

.carousel-project__description {
  margin-top: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 22px;
  margin-bottom: 35px;
}

.carousel-project__btn {
  text-align: start;
  width: 45%;
  background-color: var(--background-secondary-dm);
  border: none;
  cursor: pointer;
  color: var(--on-primary);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  font-size: 11px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
}

.carousel-project__btn:hover {
  color: var(--primary);
}

.light-mode .carousel-project__btn:hover {
  color: var(--primary);
}

.projects-section {
  min-height: 720px;
  height: 100%;
  width: 1200px;
  padding-bottom: 350px;
  display: flex;
  flex-direction: column;
}

.project-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.project-title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.project-title__text {
  display: flex;
  align-items: baseline;
}

.project-title__text span {
  font-size: 50px;
  color: var(--secondary-lm);
  text-shadow: none;
}

.project-title-bar-image__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.project-title-bar__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.modal__title-bar__container {
  display: inherit;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.project-title__container .project-header-bar {
  display: flex;
  justify-content: center;
  border-top: 3px solid;
  margin: 0;
  width: 75px;
  color: var(--secondary);
}

.project-title__container p {
  color: var(--on-primary);
  margin: 0;
}

.projects-section h1 {
  color: var(--on-primary);
  text-shadow: .5px .5px 2px var(--on-secondary);
}

.project__svg {
  width: 250px;
}

.projects-div-frame {
  width: 100%;
}

.projects-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1200px;
  padding: 0 10px 0 10px;
  flex-basis: 50%;
}

.project-img {
  display: flex;
  min-width: 300px;
  max-height: 300px;
  max-width: 390px;
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px rgb(17 20 24 / 40%), 0 18px 46px 6px rgb(17 20 24 / 40%);
}

.project-img:hover {
  opacity: 0.1;
}

.project {
  display: flex;
  max-width: 390px;
  max-height: 350px;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: var(--on-primary);
}

.project-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  position: absolute;
  top: 20px;
  left: 0;
  color: var(--on-primary);
  width: 390px;
  height: 300px;
  transition: all 400ms ease-out;
  text-align: center;
}

.project-context h5 {
  padding-top: 20px;
  margin: 0;
  font-weight: bolder;
}

.project-context p {
  color:#1D6ACF;
  margin: 0;
  font-weight: bold;
}

.project-btn-container {
  padding-top: 100px;
}

.project-btn {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--grey-dark);
  color: var(--on-primary);
  font-weight: bold;
  border: 2px solid #1D6ACF;
  border-radius: 4px;
  width: 100%;
  max-width: 150px;
  min-width: 100px;
  padding: 10px 15px;
  float: right;
  cursor: pointer;
}

.project-btn:hover {
  background: var(--primary-variant);
  color: var(--on-primary);
}

.project-btn:active {
  box-shadow: inset 0px 0px 7px var(--background-dm);
  outline: none;
}

.project:hover .project-context {
  opacity: 1;
}

.project:hover .project-img{
  opacity: 0.1;
}

/* .project:hover {
  border: 1px solid var(--primary);
  box-shadow: inset 0 0 0 1px rgb(255 255 255 / 20%), 0 4px 8px #1D6ACF, 0 18px 46px 6px rgb(17 20 24 / 40%);;
  background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.320) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.540) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.790) 100%
    );
    transform: translateY(-1.8%);
} */

.project p {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------------- Modal ------------------------- */
.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20000;
  backdrop-filter: blur(4px);
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-img__container {
  display: flex;
}

.modal__img {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  /* min-width: 1000px; */
  /* aspect-ratio: 3/2; */
  border-bottom: 2px solid var(--primary);
}

.modal p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--on-primary);
  height: 100%;
  margin: 0;
  padding: 50px 100px 50px 30px;
  font-size: larger;
}

.modal__description {
  display: flex;
  flex-grow: 1;
  font-size: 16px;
}

/* ------------------------- Modal Overlay ------------------------- */
.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 5200;
  filter: unset;
  position: absolute;
  width: 800px;
  background-color: var(--background-secondary);
  border-radius: 2px;
  user-select: none;
}

.ReactModal__Overlay .carousel {
  width: 100%;
  height: 100%;
}

.ReactModal__Overlay .carousel-project {
  display: flex;
  flex-direction: column;
}

.ReactModal__Overlay .carousel-project__image {
  width: 100%;
}

.ReactModal__Overlay .modal__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 50px;
}

.ReactModal__Overlay .modal__title {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--primary-variant-lm);
}

.ReactModal__Overlay .modal__title h1 {
  color: var(--on-primary);
}

.ReactModal__Overlay .modal__title h2 {
  color: var(--background-scroll-lm);
  font-size: 20px;
}

.ReactModal__Overlay .modal-btn__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  width: 100%;
  padding-bottom: 20px;
}

.modal-btn__navigate-container a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--on-primary);
  padding: 0 0 0 15px;
  gap: 10px;
}

.modal-btn__github-container a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--on-primary);
  gap: 10px;
}

.modal-btn__close-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 150px;
  min-width: 100px; 
  padding: 0 15px 0 0; 
}

.modal-btn__navigate-flex {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 100px;
}

.modal-btn__navigate:active {
  box-shadow: inset 0px 0px 7px var(--background-secondary);
  outline: none;
}

.modal-btn__navigate {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--background-secondary);
  color: var(--on-primary);
  border: 1px solid var(--primary);
  border-radius: 2px;
  height: fit-content;
  max-width: 150px;
  min-width: 150px;
  padding: 10px 15px;
  float: right;
  cursor: pointer;
  transition: all 0.5s;
}

.modal-btn__navigate:hover {
  border: 1px dotted var(--secondary);
  color: var(--secondary);
}

.modal-btn__close {
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: var(--background-scroll-lm);
  background-color: var(--background-secondary);
  transition: all 0.5s;
  }
  
  .modal-btn__close:hover {
    color: var(--red);
  }
  

/* ------------------------- Contact ------------------------- */
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0 300px 0;
  background-color: var(--background-dm);
}

.contact-section h1 {
  color: var(--on-primary);
  text-shadow: .5px .5px 2px var(--on-secondary);
  text-align: center;
}

.header-bar {
  display: flex;
  justify-content: center;
  color: var(--primary);
  margin: 25px auto 40px auto;
  width: 70%;
  border-top: 1px solid;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  margin: 0 auto;
  width: 50%;
  max-width: 700px;
  min-width: 100px;
  height: auto;
  color: var(--on-primary);
}

.form-container label {
  display: inherit;
  font-size: 20px;
  color: var(--on-primary);
}

.contact-header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-title__text {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.contact-title__text span {
  font-size: 50px;
  color: var(--secondary-lm);
}

.contact__svg {
  width: 250px;
}

.contact-form__title {
  display: inherit;
  flex-direction: column;
  width: 100%;
}

input[type=text],
input[type=email] {
  margin: 0 0 3px;
  padding: 10px 10px;
  border-radius: 2px;
  min-height: 30px;
  font-size: 20px;
  color: var(--on-primary);
  outline: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--background-secondary);
  background-color: var(--background-dm);
}

textarea[id=message] {
  margin: 0 0 5px;
  padding: 10px 10px;
  min-height: 30px;
  resize: none;
  font-size: 20px;
  color: var(--on-primary);
  outline: 0;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--background-secondary);
  background-color: var(--background-dm);
}

input[type=text]:focus-visible,
input[type=email]:focus-visible,
textarea[id=message]:focus-visible {
  border-bottom: 2px solid var(--secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-size: 20px;
  -webkit-text-fill-color: var(--on-primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-dm) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover, 
input:autofill:focus,
textarea:autofill,
textarea:autofill:hover,
textarea:autofill:focus,
select:autofill,
select:autofill:hover,
select:autofill:focus {
  font-size: 20px;
  color: var(--on-primary);
  box-shadow: 0 0 0px 1000px var(--background-dm) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.btn-container {
  display: inherit;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: end;
  width: 100%;
  height: 80px;
}

.btn {
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  border: 0;
  margin: 5px 0 30px 0;
  width: 100%;
  max-width: 175px;
  min-width: 100px;
  padding: 10px 15px;
  background-color: var(--primary);
  float: right;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  border: 0;
  background-color: var(--secondary);
  color: var(--on-secondary);
}

.btn:active {
  box-shadow: inset 0px 0px 7px #030303;
  outline: none;
  border: 1px solid rgb(0, 0, 0, 0.7);
  color: rgb(245, 245, 245, 0.9);
  text-shadow: var(--on-secondary) 1px 1px;
}

/* ------------------------- Footer ------------------------- */
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--on-primary);
  width: 90%;
  padding: 32px 0;
  border-top: 1px solid var(--primary);
}

#profile-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  font-size: 20px;
}

.contact-info-div {
  display: inherit;
  justify-content: space-evenly;
  gap: 50px;
  flex-grow: 1;
}

.footer-bottom {
  width: 100%;
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author-div {
  display: inherit;
  justify-content: flex-start;
  flex-grow: 1;
  margin-left: 10px;
}

.clock-div {
  display: inherit;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 10px;
}

.contact-info {
  color: var(--on-primary);
  transition: all 0.2s ease-out;
}

.contact-info:hover {
  transform: translateY(10px);
  color: var(--primary);
}

.contact-info svg{
  padding: 0;
}

/* ------------------------- Light Mode ------------------------- */
.light-mode .menu__overlay {
  background-color: var(--primary-lm);
}

.light-mode .menu__overlay a {
  font-size: 50px;
  color: var(--secondary-lm);
}

.light-mode .menu__buttons {
  background-color: var(--primary-lm);
}

.light-mode .theme-toggle {
  color: var(--on-toggle-lm);
}

.light-mode .theme-btn {
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

.light-mode body,
.light-mode #root {
  background-color: var(--background-variant-lm);
}

.light-mode .bar__top,
.light-mode .bar__right,
.light-mode .bar__bottom,
.light-mode .bar__left {
  background-color: var(--background-lm);
  z-index: 50000;
}

.light-mode h3,
.light-mode h2,
.light-mode h1,
.light-mode p,
.light-mode .education__languages-top, 
.light-mode .education__languages-bottom,
.light-mode .education__skills-list-top, 
.light-mode .education__skills-list-bottom {
  color: var(--on-secondary);
  text-shadow: none;
}

.light-mode .iconColor {
  filter: unset;
}

.light-mode .education__title-certs .education__bar,
.light-mode .project-title__container .project-header-bar {
  color: var(--secondary-lm);
}

.light-mode .carousel-project {
  background-color: var(--background-variant-lm);
}

.light-mode .carousel-project__btn {
  background-color: var(--background-variant-lm);
}

.light-mode .carousel-project__subtitle,
.light-mode .carousel-project__description {
  color: var(--on-primary-modal)
}

.light-mode .carousel-project__title,
.light-mode .carousel-project__btn {
  color: var(--on-secondary);
}

.light-mode .carousel__nav {
  background-color: var(--background-variant-lm);
}

.light-mode .carousel__nav .left-arrow {
  color: var(--background-secondary);
}

.light-mode .carousel__nav .right-arrow {
  color: var(--background-secondary);
}

.light-mode .contact-section {
  background-color: var(--background-variant-lm);
}

.light-mode .modal {
  background-color: var(--on-primary);
}

.light-mode .modal__title h1 {
  color: var(--on-secondary);
}

.light-mode .modal-btn__navigate {
  background-color: var(--primary-lm);
  color: var(--on-secondary);
  border: none;
}

.light-mode .modal-btn__navigate:hover {
  background-color: var(--secondary);
}

.light-mode .modal-btn__close {
  background-color: var(--on-primary);
}

.light-mode .contact-title__text span {
  color: var(--secondary);
}

.light-mode .modal-btn__container a {
  color: var(--on-secondary);
}

.light-mode input[type=text],
.light-mode input[type=email],
.light-mode textarea[id=message] {
  background-color: var(--background-variant-lm);
  color: var(--on-secondary);
  border-bottom: 1px solid var(--grey-100);
}

.light-mode input[type=text]:focus-within,
.light-mode input[type=email]:focus-within,
.light-mode textarea[id=message]:focus-within {
  border-bottom: 1px solid var(--secondary);
}

.light-mode .form-container label {
  color: var(--on-secondary);
}

.light-mode .btn {
  background-color: var(--secondary);
}

.light-mode .btn:hover {
  background-color: var(--secondary-variant);
}

.light-mode .contact-info {
  color: var(--on-secondary)
}

/* ------------------------- Final ------------------------- */
section {
  padding: 0;
  margin: 0;
  width: 100%;
}

#root {
  display: block;
  width: 100%;
  background-color: var(--background-dm);
}

body {
  background-color: var(--background-dm);
}

/* ------------------------- Media Queries ------------------------- */
@media only screen and (max-width: 1440px) {
  .sections {
    width: 1000px;
  }

  .about-context {
    width: 850px;
  }
}

@media only screen and (max-width: 1080px) {
  .sections {
    width: 1000px;
  }
  
  .about-context {
    width: 850px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-image__container {
    max-width: 350px;
  }

  .about-text p {
    padding-top: 20px;
    border-left: none;
    border-top: 1px solid var(--primary)
  }
}

@media only screen and (max-width: 1060px) {
  .sections {
    width: 540px;
  }

  .about-context {
    width: 100%;
  }

  .about-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    min-width: 290px;
  }

  h2 {
    font-size: 30px;
  }

  .education__certs .carousel {
    min-height: 650px;
  }

  .education__title-certs {
    max-width: unset;
  }

  .education__certs .carousel {
    width: 90%;
  }

  .education__languages-top,
  .education__languages-bottom {
    gap: 25px;
  }

  .carousel {
    width: 90%;
    box-shadow:
    0 -.5px 2.2px rgba(0, 0, 0, 0.04),
    0 -.9px 5.3px rgba(0, 0, 0, 0.05),
    0 -1px 20px rgba(76, 126, 190, 0.16),
    0 2.5px 17.5px rgba(0, 0, 0, 0.078),
    0 4px 33px rgba(0, 0, 0, 0.086),
    0 2px 31px rgba(76, 126, 190, 0.13);
  }

  .light-mode .carousel {
    box-shadow:
    0 -.5px 2.2px rgba(0, 0, 0, 0.04),
    0 -.9px 5.3px rgba(0, 0, 0, 0.05),
    0 -1px 20px rgba(0, 0, 0, 0.16),
    0 2.5px 17.5px rgba(0, 0, 0, 0.078),
    0 4px 33px rgba(0, 0, 0, 0.086),
    0 9px 21px rgba(0, 0, 0, 0.13);
  }

  .carousel-project {
    flex-direction: column;
    justify-content: center;
  }

  .carousel-project__container{
    width: 90%;
    height: 100%;
  }

  .carousel-project__info {
    width: 100%;
  }

  .carousel-project__description{
    margin-top: 10px;
  }

  .carousel-project__image,
  .projects-image.loaded {
    width: 100%;
    max-width: 486px;
  }

  .carousel-project.active .carousel-project__image {
    max-width: 600px;
  }

  .projects-section .carousel {
    min-height: 900px;
  }

  .education__technologies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .education__svg-container {
    width: unset;
  }

  .education__technologies .education__title-container {
    width: 100%;
    justify-content: center;
  }

  .education__title-tech {
    justify-content: center;
    align-items: center;
  }

  .education__title-text {
    justify-content: center;
    align-items: baseline;
  }

  .education__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .education__title-skills {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .education__skills-list {
    flex-direction: column;
    gap: 0;
  }

  .form-container {
    width: 100%;
  }

  .ReactModal__Content {
    max-width: 600px;
  }

  .ReactModal__Content .carousel {
    min-height: 400px;
  }

  .modal__img {
    min-width: 600px;
  }
}

@media only screen and (max-width: 670px) {
  .bar__top,
  .bar__bottom {
    height: 10px;
  }

  .bar__right,
  .bar__left {
    width: 10px;
    bottom: 10px;
    top: 10px;
  }

  .sections {
    width: 500px;
  }

  .navbar {
    position: sticky;
    z-index: 10000;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: var(--background-dm);
    box-shadow: 0 14px 10px -10px var(--background-dm);
  }

  .light-mode .navbar {
    background-color: var(--background-variant-lm);
    box-shadow: 0 14px 10px -10px var(--background-variant-lm);
  }

  .nav-title__left,
  .nav-title__right {
    top: 17px;
  }

  .background-switch {
    top: 25px;
    z-index: 10001;
  }

  .menu__buttons a {
    font-size: 30px;
  }

  .about {
    margin-top: 50px;
    padding-bottom: 100px;
  }

  .education__container,
  .projects-section {
    padding-bottom: 100px;
  }

  .about-context {
    width: 500px;
    padding-top: 20px;
  }

  .about-div {
    gap: 20px;
  }

  .about-text p {
    padding-top: 15px;
  }

  .education__certs .carousel {
    max-width: 400px;
    min-height: 500px;
  }

  .education__svg,
  .project__svg,
  .contact__svg {
    max-width: 175px;
    max-height: 150px;
  }

  .education__skills .education__svg-container .education__svg {
    max-width: 130px;
    max-height: 130px;
  }
  
  .light-mode .carousel {
    box-shadow:
    0 -.5px 2.2px rgba(0, 0, 0, 0.04),
    0 -.9px 5.3px rgba(0, 0, 0, 0.05),
    0 -1px 20px rgba(0, 0, 0, 0.16),
    0 2.5px 17.5px rgba(0, 0, 0, 0.078),
    0 4px 33px rgba(0, 0, 0, 0.086),
    0 9px 21px rgba(0, 0, 0, 0.13);
  }

  .education__languages {
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 75px;
  }

  .education__languages-top,
  .education__languages-bottom {
    display: inherit;
    flex-direction: column;
  }

  .carousel-project__container {
    width: 100%;
    padding: unset;
  }

  .carousel-project__subtitle {
    padding-top: 10px;
  }

  .carousel-project__info {
    width: 95%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .carousel-project__description {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .education__certs .carousel-project__title {
    font-size: 15px;
  }

  .projects-section .carousel {
    max-width: 400px;
    min-height: 635px;
  }

  .projects-section .carousel-project__title {
    font-size: 30px;
  }

  .projects-image.loaded {
    max-width: 400px;
  }

  .project-header__container {
    flex-direction: column;
  }

  .ReactModal__Content {
    max-width: 500px;
    box-shadow: 
    0 -3.5px 2.2px rgba(0, 0, 0, 0.04), 
    0 -2.9px 5.3px rgba(0, 0, 0, 0.05), 
    0 -1px 10px rgba(76, 126, 190, 0.16), 
    0 2.5px 1.5px rgba(0, 0, 0, 0.078), 
    0 4px 18px rgba(0, 0, 0, 0.086), 
    0 9px 15px rgba(76, 126, 190, 0.13);
  }

  .light-mode .ReactModal__Content {
    box-shadow: 
    0 -3.5px 2.2px rgba(0, 0, 0, 0.04), 
    0 -2.9px 5.3px rgba(0, 0, 0, 0.05), 
    0 -1px 10px rgba(0, 0, 0, 0.16), 
    0 2.5px 1.5px rgba(0, 0, 0, 0.078), 
    0 4px 18px rgba(0, 0, 0, 0.086), 
    0 9px 15px rgba(0, 0, 0, 0.13);
  }

  .ReactModal__Content .carousel {
    min-height: 400px;
    box-shadow: unset;
  }

  .ReactModal__Overlay .modal__title h1 {
    font-size: 38px;
  }

  .modal__img {
    min-width: 500px;
    min-height: 400px;
  }

  .modal-btn__navigate-flex {
    width: 100%;
    gap: 75px;
  }

  .modal-btn__close-container {
    min-width: 50px;
  }
}

  @media only screen and (max-width: 540px) {
    p,
    a,
    li {
      font-size: 16px;
    }

    .carousel-project__subtitle {
      font-size: 11px;
    }

    .sections {
      width: 350px;
    }

    .section.about {
      padding-top: 0px;
    }

    .menu__overlay {
      top: 10px;
    }

    .menu__buttons a,
    .light-mode .menu__buttons a {
      font-size: 20px;
    }

    .about {
      padding-bottom: 150px;
    }

    .about-context {
      width: 350px;
    }

    .about-image__container {
      max-width: 290px;
    }

    .about-image {
      min-width: 290px;
    }

    .about-text {
      width: 350px;
    }

    .about-text p {
      line-height: unset;
      font-size: 16px;
      padding-left: unset;
      padding: 20px 10px 0 10px;
    }

    .carousel {
      width: 90%;
      box-shadow:
        0 -3.5px 2.2px rgba(0, 0, 0, 0.04),
        0 -2.9px 5.3px rgba(0, 0, 0, 0.05),
        0 -1px 10px rgba(76, 126, 190, 0.16),
        0 2.5px 1.5px rgba(0, 0, 0, 0.078),
        0 4px 18px rgba(0, 0, 0, 0.086),
        0 9px 15px rgba(76, 126, 190, 0.13);
    }
  
    .light-mode .carousel {
      box-shadow:
      0 -3.5px 2.2px rgba(0, 0, 0, 0.04),
      0 -2.9px 5.3px rgba(0, 0, 0, 0.05),
      0 -1px 10px rgba(0, 0, 0, 0.16),
      0 2.5px 1.5px rgba(0, 0, 0, 0.078),
      0 4px 18px rgba(0, 0, 0, 0.086),
      0 9px 15px rgba(0, 0, 0, 0.13);
    }

    .education__certs .carousel-project__title {
      line-height: 1.3;
    }

    .education__title-certs {
      max-width: unset;
      padding: 0 10px;
    }

    .education__title-certs .education__title-text h2 {
      font-size: 22px;
    }

    .projects-image.loaded {
      max-width: 350px;
    }

    .education__title-tech {
      width: 350px;
    }

    .education__title-container {
      width: 350px;
    }

    .education__title-text {
      width: unset;
    }

    .education__title-tech .education__title-text {
      width: 100%;
    }

    .education__title-text h2 {
      font-size: 22px;
      
      align-items: flex-end;
    }

    .education__title-text span {
      align-items: flex-start;
    }

    .education__title-container {
      align-items: unset;
    }

    .education__title-container .education__languages {
      justify-content: center;
      flex-direction: row;
      gap: 50px;
    }

    .education__languages-top,
    .education__languages-bottom {
      justify-content: center;
      gap: 10px;
    }

    .education__languages-top {
      flex-direction: column;
    }

    .education__languages-bottom {
      flex-direction: column;
    }

    .education__skills-list {
      width: 100%;
      gap: unset;
      align-items: center;
      flex-direction: column;
    }

    .education__container,
    .projects-section,
    .contact-section {
      padding-bottom: 150px;
    }

    .ReactModal__Content {
      max-width: 350px;
    }
  
    .ReactModal__Content .carousel {
      min-height: 300px;
    }
  
    .modal__img {
      min-width: 350px;
      min-height: 300px;
    }

    .ReactModal__Overlay .modal-btn__close-container {
      flex-direction: column;
    }

    .ReactModal__Overlay .modal-btn__container {
      flex-direction: column;
      height: 100px;
      gap: 20px;
      padding-bottom: 10px;
    }

    .modal-btn__navigate-flex {
      justify-content: space-evenly;
      align-items: center;
      padding-left: 0px;
      gap: unset;
    }

    .modal-btn__close {
      padding-right: 15px;
    }

    .modal-btn__navigate-container a {
      padding-left: 5px;
    }

    .modal-btn__close-container {
      min-width: unset;
      padding: 0;
    }

    h2 {
      font-size: 22px;
    }

    .btn-container  button {
      max-width: unset;
      width: 100%;
    }

    .footer {
      width: 300px;
      gap: 20px;
    }

    .footer-div {
      max-width: 300px;
    }

    .contact-info-div {
      width: 100%;
      gap: 15px;
    }

    .footer-bottom {
      max-width: 300px;
      gap: 30px;
    }

    .footer-bottom p {
      font-size: 13px;
    }
}
